<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style-Guide</title>
    <link rel="stylesheet" type="text/css" id="changeStyle" href="../../resources/css/styleGuide.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<body>
    <h1>폰트</h1>
    <p class="eng Regular" style="font-size: 22px;">Eng : Roboto</p>
    <p class="kor Regular" style="font-size: 22px;">한글 : Noto Sans KR</p>
    <p class="eng Bold" style="font-size: 30px;">30px Bold</p>
    <p class="eng Bold" style="font-size: 24px;">24px Bold</p>
    <p class="eng Regular" style="font-size: 24px;">24px Regular</p>
    <p class="eng Regular" style="font-size: 20px;">20px Regular</p>
    <p class="eng Regular" style="font-size: 18px;">18px Regular</p>
    <p class="eng Regular" style="font-size: 14px;">14px Regular</p>
    <br><br>
    <h1>아이콘</h1>
    <div class="bi bi-person-circle b"></div>
    <h6>1번 사용자아이콘</h6>
    <div class="bi bi-bell b"></div>
    <h6>2번 비활성알림아이콘</h6>
    <div class="bi bi-bell-fill b"></div>
    <h6>3번 활성알림아이콘</h6>
    <div class="bi bi-search b"></div>
    <h6>4번 돋보기아이콘</h6>
    <div class="bi bi-suit-heart b"></div>
    <h6>5번 비활성하트아이콘</h6>
    <div class="bi bi-suit-heart-fill b"></div>
    <h6>6번 활성하트아이콘</h6>
    <br><br>
    <h1>컬러</h1>
    <div class="colorBox color1"></div>
    <div class="colorBox color2"></div>
    <div class="colorBox color3"></div>
    <div class="colorBox color4"></div>
    <div class="colorBox color5"></div>
    <pre>   #6C757D         #B0B6BA          #58AAFF         #789DBF         #0069D9</pre>
    <br><br>
    <h1>버튼</h1>
    <button type="button" class="btn btn-outline-primary btn-produce-sm kor">제작하기</button>
    <h6>1번 S 제작버튼</h6>
    <br><br>
    <button type="button" class="btn btn-outline-primary btn-produce-md kor">제작하기</button>
    <h6>2번 M 제작버튼</h6>
    <br><br>
    <button type="button" class="btn btn-primary btn-next kor">다음 단계로 가기</button>
    <h6>3번 L 다음버튼</h6>
    <br><br>
    <button type="button" class="btn btn-outline-primary btn-move kor">이전 단계로 이동</button>
    <button type="button" class="btn btn-outline-primary btn-move kor">다음 단계로 이동</button>
    <h6>5번 M 이동버튼</h6>
    <br><br>
    <button type="button" class="btn btn-primary btn-xs kor">검색하기</button>
    <button type="button" class="btn btn-outline-primary btn-xs kor">+ 항목추가</button>
    
    <button type="button" class="btn btn-outline-primary btn-xs kor">플라워</button>
    <button type="button" class="btn btn-outline-primary btn-xs kor">일러스트</button>
    <button type="button" class="btn btn-outline-primary btn-xs kor">New</button>
    <h6>6번 XS 버튼</h6>
    <br><br>

    <h1>입력창</h1>
    <input type="text" class="input-box input-box-sm" placeholder="input-box-sm">
    <h6>1번 S 입력박스</h6>
    <br><br>
    <input type="text" class="input-box input-box-md" placeholder="input-box-md">
    <h6>2번 M 입력박스</h6>
    <br><br>
    <input type="text" class="input-box input-box-lg" placeholder="input-box-lg">
    <h6>3번 L 입력박스</h6>
    <br><br>
	<input type="text" class="input-box input-box-st" placeholder="input-box-st">
	<h6>4번 ST 입력박스</h6>
	<input type="text" class="input-box input-box-st" placeholder="input-box-est">
	<h6>5번 국가번호 입력박스</h6>
<br><br>
    <textarea class="input-box input-box-b" placeholder=" 창용이가 드디어 첫 돌을 맞았습니다!
 모두 와서 창용이의 첫 생일을 축하해주세요!
 선물은 많이 다다익선입니다.
 손은 무겁게 마음은 가볍게!"></textarea>
    <h6>6번 B 입력박스</h6>

    <h1>이미지 박스</h1>
    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" class="rounded img-box-1" alt="No images">
    <h6>1번 이미지박스</h6>
    <br><br>
    <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" class="rounded img-box-2" alt="No images">
    <h6>2번 이미지박스</h6>
    <br><br>
        <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" class="rounded img-box-2" alt="No images">
    <h6>3번 이미지박스</h6>
    <br><br>
    
    <form>
      <input type="file" id="input-file" style="display: none" onchange="readURL(this);"><div id="preview"><button type="button" onclick="readURL(this);" class="btn-close img-x" aria-label="Close" style="margin-left: 120px; margin-top: 5px; display: none;"></button></div>
      <label class="input-file-button" for="input-file">
        <p style="line-height: 30px;">업로드</p>
      </label>
    </form>
      <!-- 이미지 업로드 -->
      <script>
        function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
            let urlLink = e.target.result;
            //document.getElementById('preview').src = e.target.result;
            document.getElementById('preview').style.backgroundImage = "url('"+urlLink+"')";
          };
          reader.readAsDataURL(input.files[0]);
          document.getElementsByTagName('form')[0].reset(); //같은 파일 올리기 위해 리셋
          document.getElementById('preview').children[0].hidden='';
        }else {
          document.getElementById('preview').style.backgroundImage = "";
          document.getElementById('preview').children[0].hidden='true';
        }
      }
      </script>
    <h6>4번 이미지박스</h6>
    <br><br>

    <h1>QR 박스</h1>
    <div class="qr-box"></div>
    <br><br>

    <h1>라디오버튼</h1>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">사용함</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">사용안함</label>
    </div>
    <h6>1번 라디오버튼</h6>
    <br><br>

    <h1>셀렉트 박스</h1>
    <select class="form-select" aria-label="Default select example">
        <option selected>MD 추천순</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <h6>1번 셀렉트박스</h6>
    <br><br>

    <h1>캐러셀</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/originals/6d/f3/6b/6df36bba717e934c503cc468a1ffe898.gif" class="d-block w-100" alt="No images">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/6d/f3/6b/6df36bba717e934c503cc468a1ffe898.gif" class="d-block w-100" alt="No images">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/6d/f3/6b/6df36bba717e934c503cc468a1ffe898.gif" class="d-block w-100" alt="No images">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <h6>1번 캐러셀</h6>
    <br><br>

    <h1>기타</h1>
    <br>

    <div class="warning"><i class="bi bi-exclamation-diamond"></i> 이메일을 인증해주세요</div>
    <h6>1번 경고문구</h6>
    <br><br>

    <div class="phone"><div class="M-line"></div></div>
    <h6>1번 모바일프레임</h6>
    <br><br>
    <div class="message-box">
<button type="button" class="btn-close" aria-label="Close" style="margin-top: 5%; margin-left: 85%;"></button>
        <div class="kor Regular" style="font-size: 30px; color: #58AAFF; margin-top: 50px;">청첩장 제작이 완료되었습니다.</div>
        <input type="text" class="URLplaceholder" placeholder=" www.bonheur.team/wedding/1"/>
        <button type="button" class="message-box-btn">Copy</button>
        <div style="margin-top: 30px; margin-bottom: 40px;">
            <img src="resources/images/KAKAOTALK.png" width="55px" style="margin-right: 20px;"/>
            <img src="resources/images/INSTAGRAM.png" width="55px" style="margin-right: 20px;"/>
            <img src="resources/images/LINE.png" width="55px" style="margin-right: 20px;"/>
            <img src="resources/images/FACEBOOK.png" width="55px" style="margin-right: 20px;"/>
       </div>
       <div class="kor Regular" style="font-size: 15px; color: #6C757D; margin-bottom: 20px;">
            보네르는 모든 서비스를 무료로 제공하고 있습니다.<br>
            더 좋은 서비스를 제공하기 위해 저희 보네르 팀을 후원해주세요.
       </div>
       <img src="resources/images/KAKAOPAY.png" width="200px"/>
    </div>
    <h6>1번 L 모달박스</h6>
    <br><br>
    <div class="notification-box">
        <p class="eng Bold" style="font-size: 22px; color: #6C757D; padding-top: 13px; margin-left: 20px; margin-bottom: 13px;">Notifications</p>
        <div class="notification-group">
            <div class="notification-single">
                <div class="container">
                    <div class="notification-circle"></div>
                    <p class="kor Bold" style="font-size: 18px; color: #6C757D; margin-bottom: 5px;">(공지) 설 연휴 고객센터 휴무 안내</p>
                    <button type="button" class="btn-close" aria-label="Close" style="margin-left: 80px;"></button>
                </div>
                <p style="font-size: 14px; color: #B0B6BA; margin-left: 40px;">Now</p>
            </div>
            <div class="notification-single">
                <div class="container">
                    <div class="notification-circle"></div>
                    <p class="kor Bold" style="font-size: 18px; color: #6C757D; margin-bottom: 5px;">(공지) 설 연휴 고객센터 휴무 안내</p>
                    <button type="button" class="btn-close" aria-label="Close" style="margin-left: 80px;"></button>
                </div>
                <p style="font-size: 14px; color: #B0B6BA; margin-left: 40px;">Now</p>
            </div>
            <div class="notification-single">
                <div class="container">
                    <div class="notification-circle"></div>
                    <p class="kor Bold" style="font-size: 18px; color: #6C757D; margin-bottom: 5px;">(공지) 설 연휴 고객센터 휴무 안내</p>
                    <button type="button" class="btn-close" aria-label="Close" style="margin-left: 80px;"></button>
                </div>
                <p style="font-size: 14px; color: #B0B6BA; margin-left: 40px;">1h ago</p>
            </div>
            <div class="notification-single">
                <div class="container">
                    <div class="notification-circle"></div>
                    <p class="kor Bold" style="font-size: 18px; color: #6C757D; margin-bottom: 5px;">(공지) 설 연휴 고객센터 휴무 안내</p>
                    <button type="button" class="btn-close" aria-label="Close" style="margin-left: 80px;"></button>
                </div>
                <p style="font-size: 14px; color: #B0B6BA; margin-left: 40px;">1h ago</p>
            </div>
        </div>
    </div>
    <h6>2번 M 모달박스</h6>
    <br><br>
    <div class="modal-box-sm">
        <div class="kor Bold modal-content" style="font-size: 14px; color: #6C757D">마이페이지</div>
        <hr class="hr-solid">
        <div class="kor Bold modal-content" style="font-size: 14px; color: #6C757D">로그인</div>
    </div>
    <h6>3번 S 모달박스</h6>
    <br><br>

<!-- 호스트 정보 추가 Modal -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  호스트 정보 추가
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">호스트명</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>호스트 명을 입력해주세요.</p>
        <input type="text" class="input-box input-box-sm" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-produce-sm kor" data-bs-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary btn-produce-sm kor">Save changes</button>
      </div>
    </div>
  </div>
</div>
<h6>4번 H 모달 박스</h6>
<br><br>

    <!-- 인사말 Sample Modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#greetSampleModal">
  인사말 샘플 선택
</button>

<div class="modal fade" id="greetSampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">인사말</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>인사말을 선택해주세요.</p>
        <div class="greetSample">
          서로가 마주 보며 다져온 사랑을
          이제 함께 한곳을 바라보며
          걸어갈 수 있는 큰 사랑으로 키우고자 합니다.
          저희 두 사람이 사랑의 이름으로
          지켜나갈 수 있게 앞날을
          축복해 주시면 감사하겠습니다.
          <br>
          <button type="button" class="btn btn-primary btn-search-box kor">선택하기</button>
        </div>
        <div class="greetSample">
          서로가 마주 보며 다져온 사랑을
          이제 함께 한곳을 바라보며
          걸어갈 수 있는 큰 사랑으로 키우고자 합니다.
          저희 두 사람이 사랑의 이름으로
          지켜나갈 수 있게 앞날을
          축복해 주시면 감사하겠습니다.
          <br>
          <button type="button" class="btn btn-primary btn-search-box kor">선택하기</button>
        </div>
        <div class="greetSample">
          서로가 마주 보며 다져온 사랑을
          이제 함께 한곳을 바라보며
          걸어갈 수 있는 큰 사랑으로 키우고자 합니다.
          저희 두 사람이 사랑의 이름으로
          지켜나갈 수 있게 앞날을
          축복해 주시면 감사하겠습니다.
          <br>
          <button type="button" class="btn btn-primary btn-search-box kor">선택하기</button>
        </div>
        <div class="greetSample">
          서로가 마주 보며 다져온 사랑을
          이제 함께 한곳을 바라보며
          걸어갈 수 있는 큰 사랑으로 키우고자 합니다.
          저희 두 사람이 사랑의 이름으로
          지켜나갈 수 있게 앞날을
          축복해 주시면 감사하겠습니다.
          <br>
          <button type="button" class="btn btn-primary btn-search-box kor">선택하기</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary btn-produce-sm kor" data-bs-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary btn-produce-sm kor">Save changes</button>
      </div>
    </div>
  </div>
</div>
<h6>5번 SP 모달박스</h6>

<!-- 이미지 업로드 -->
<h1>이미지 다중 업로드</h1>

<div id="dropzone-guide">
<body class="m-4">
    <div class="dropzone"></div>

    <!-- 포스팅 - 이미지/동영상 dropzone 영역 -->
    <ul class="list-unstyled mb-0" id="dropzone-preview">
      <li class="mt-2" id="dropzone-preview-list">
        <!-- This is used as the file preview template -->
        <div class="border rounded-3">
          <div class="d-flex align-items-center p-2">
            <div class="flex-shrink-0 me-3">
              <div class="width-8 h-auto rounded-3">
                <img data-dz-thumbnail="data-dz-thumbnail" class="w-full h-auto rounded-3 block" src="#" alt="Dropzone-Image" style="width: 120px;"/>
              </div>
            </div>
            <div class="flex-grow-1">
              <div class="pt-1">
                <h6 class="font-semibold mb-1" data-dz-name="data-dz-name">&nbsp;</h6>
                <p class="text-sm text-muted fw-normal" data-dz-size="data-dz-size"></p>
                <strong class="error text-danger" data-dz-errormessage="data-dz-errormessage"></strong>
              </div>
            </div>
            <div class="shrink-0 ms-3">
              <button data-dz-remove="data-dz-remove" class="btn btn-sm btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

    <script>
      Dropzone.autoDiscover = false;
      var dropzonePreviewNode = document.querySelector('#dropzone-preview-list');
      dropzonePreviewNode.id = '';
      var previewTemplate = dropzonePreviewNode.parentNode.innerHTML;
      dropzonePreviewNode.parentNode.removeChild(dropzonePreviewNode);

      const dropzone = new Dropzone(".dropzone", {
        url: "https://httpbin.org/post", // 파일을 업로드할 서버 주소 url.
        method: "post", // 기본 post로 request 감. put으로도 할수있음

        previewTemplate: previewTemplate, // 만일 기본 테마를 사용하지않고 커스텀 업로드 테마를 사용하고 싶다면
        previewsContainer: '#dropzone-preview', // 드롭존 영역을 .dropzone이 아닌 다른 엘리먼트에서 하고싶을때
      });
    </script>
</body>
</html>